html {
    height: 100%;
    
    background-image: url("../image/bgi.jpg");
    background-size: cover;
}

body {
    color: #000000;
}

#pg_initializer {
    width: 100%;
    text-align: center;
}

#num_join {
    width: 400px;

    background-color: transparent;
    border: 0px;

    font-size: 18pt;
    text-align: center;

    color: #FFFFFF;
}

#btn_start {
    -webkit-appearance: none;
    
    width: 400px;
    height: 40px;
    
    font-size: 14pt;
    color: #FFFFFF;
    
    background-color: #13C276;
    border: 0px;

    margin-top: 10px;
}

#pg_shuffle img {
    position: absolute;
    
    height: 400px;
}

#backside1 {
    z-index: 101;
}

#backside2 {
    z-index: 100;
}

#pg_cardSelector {
    text-align: center;
}

#pg_cardSelector img {
    width: 20%;
    margin: 2%;
}

#pg_result > img {
    position: absolute;
    
    height: 400px;
}

#btn_next {
    position: absolute;
    right: 30px;
    bottom: 30px;
}

#result_next {
    width: 50px;
    height: 50px;
}

#tmp_card {
    position: absolute;
    display: none;
}